services:
  devcontainer:
    container_name: ${COMPOSE_ENV_CONTAINER_NAME}
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    image: ${COMPOSE_ENV_CONTAINER_NAME}-image
    volumes:
      - ..:/workspace:cached
      - ${USERPROFILE}/.aws:/home/vscode/.aws
      - venv:/workspace/.venv
    working_dir: /workspace
    tty: true
    command: [ "sleep", "infinity" ] # コンテナを起動したままにする

  postgres:
    container_name: postgres16
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./pginit:/docker-entrypoint-initdb.d
      - ./pgdata:/var/lib/postgresql/data

volumes:
  venv:
  pgdate:


