services:
  devcontainer:
    container_name: ${COMPOSE_ENV_CONTAINER_NAME}
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        PYTHON_VERSION: ${COMPOSE_ENV_PYTHON_VERSION}
        NODE_VERSION: ${COMPOSE_ENV_NODE_VERSION}
    image: ${COMPOSE_ENV_CONTAINER_NAME}-image
    command: [ "sleep", "infinity" ]

  postgres:
    container_name: postgres16
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./pginit:/docker-entrypoint-initdb.d
      - ./pgdata:/var/lib/postgresql/data

volumes:
  pgdate:
