services:
  devcontainer:
    container_name: ${COMPOSE_ENV_CONTAINER_NAME}
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    image: ${COMPOSE_ENV_CONTAINER_NAME}-image
    volumes:
      - ..:/workspace:cached
      - ${USERPROFILE}/.aws:/home/vscode/.aws
      - venv:/workspace/.venv
    working_dir: /workspace
    tty: true
    command: [ "sleep", "infinity" ] # コンテナを起動したままにする

volumes:
  venv:
